html{	
	width: 75%;
	margin-left: 12%;
}

.header, .answerButtons, .problem{
	margin-top: 40px;
}

div.ng-scope, div.mainpage.container.ng-scope{
	width: 90%;
	padding: 10px;
	margin-left: 5%;

}

div.modal-content{
	width: 80%;
	margin-left: 9.5%;
}

.playMenu, .otherMenu{
	padding: 5px;
}

.icon{
	width: 50px;
	height: 50px;
}

#logo{
	width: 65px;
	height: 65px;
}

#score, #time, #quick{
	font-size: 50px;
}

#equations{
	font-size: 70px;
}

#game1Button, #game2Button, #rightButton, #wrongButton, #soundOn, #soundOff,
#awardButton, #rankButton, #rateButton{
	font-size: 35px;
	padding: 15px;
}

 #title{
 	font-size: 40px;
	padding: 15px;
 }

